/*specifications for the whole page*/
*{
box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    border: 2px solid pink;
}
/*Header*/
header a {
    color: black;
    margin: 0px;
    font-weight: bold;
    text-align: end;
    font-size: 12px; 
    text-decoration: none;
}
.container {
    display: flex;
    height: 50px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;  
}
    
.nav {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
/*Hero Section*/
.hero-wrapper {
    display: flex;
    background: #B1D3CE;
    flex-direction: column;
    align-items: center;
}
.mascot-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin: 50px 0 0;
    padding: 0;
}
.img-text h1 {
    font-weight: 600;
    font-size: 45px;
    margin: 0;
}
/*divider*/
.divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top:5px;
    padding: 0;
}
.left-line,
.right-line {
    height: 2px;
    width: 40px;
    background: black;
}
.dot {
    height: 8px;
    width: 8px;
    background: black;
    border-radius: 50px;
}
/*Tagline*/
.tagline p {
font-size: 10px;
font-weight: bolder;
margin-top: 5px;
}
/*Main*/
.main {
    background: white;
    margin-top: 50px;
}
/*.main h2, h3 {
background: white;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
text-align: center;
}
.main h4 {
font-size: 8px;
margin-bottom: 5px;
}
.main h4 {
    font-size: 20px;  
}
*/
#corners h2{
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
}
#corners h3 {
    text-align: center;
    margin: 5px;
} 

/*Card-grid inside the main*/
.card-grid {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap:20px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
    
.card {
    display: block;
    border-radius: 5px;
    background: #fff;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 100px whitesmoke;
}
/*Images inside the card*/
 .card img {
height: 200px;
width: 100%;
object-fit: cover;
}
/*card text*/
.card h4 {
    text-align: center;
    font-size: 10px;
    font-weight: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card p {
    text-align: center;
    font-size: 12px;
    margin: 0 40px;
    line-height: 20px;
    padding: 0;
    color: #828282;
}

